a.headers {
  color:black;
  text-align:center;
}

.navbarHeader {
  font-size: 6pt;
  text-align: center;
  color: black;
  margin:0px;
}

.navbar-header {
  width: 40px;
  margin-left:auto;
  margin-right:auto;
}

.navbar {
  background: white;
  top:0px;
  z-index:1;
  width:100%;
  border-bottom: 2px solid gray;
}

.navbar-inner {
  padding-top: 5px;
}

.iconHome {
  width:45px;
}


.headers {
  font-family:'Avenir', 'AvantGardeGothicITCW01D 731075', 'AvantGardeGothicITCW01Dm', 'Helvetica', 'sans-serif';
  font-weight: bolder;
  font-color: white;
}

.iconImage {
  width:30px;
  opacity: 0.45;
  margin-top: 8px;
}

.icon-friends {
  background-image: "images/blackFriends.png";
  background-position: center center;
}

.icon-matches {
  background-image: "images/blackMatch.png";
  background-position: center center;

}

.selected {
  opacity: 0.7;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

body {
  padding-top: 50px;
}

.navbar .row {
  padding: 0px;
  border: none;
  margin-right: 0px;
}

