a.headers {
  color:black;
  text-align:center;
}

.navbar-header {
  width: 40px;
  margin-left:auto;
  margin-right:auto;
}

.navbar {
 
  background:transparent;
  top:0px;
  z-index:1;
  width:100%;
  opacity: 0.6;
  border-bottom: 2px solid gray;
}

.navbar-inner {
  padding-top: 5px;
}

.iconHome {
  width:45px;
}


.headers {
  font-family:'Avenir', 'AvantGardeGothicITCW01D 731075', 'AvantGardeGothicITCW01Dm', 'Helvetica', 'sans-serif';
  font-weight: bolder;
  font-color: white;
}

.iconImage {
  width:30px;

}


